@mixin width-box() {
  @media (max-width: 599px) { width: 250px }
  @media (min-width: 600px) { width: 300px }
  @media (min-width: 900px) { width: 350px }
  @media (min-width: 1200px) { width: 450px }
}